<nav class="my-4">
  <ul class="pagination pagination-circle pg-blue mb-0 justify-content-center">

      <!--First-->
      <li class="page-item"
          [ngClass]="{disabled: currentPage === 1}">
          <a class="page-link pagination-link"
             (click)="jumpToPage(1)">First</a>
      </li>

      <!--Arrow left-->
      <li class="page-item"
          [ngClass]="{disabled: currentPage === 1}">
          <a class="page-link pagination-link"
             aria-label="Previous"
             (click)="jumpToPage(currentPage - 1)">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
          </a>
      </li>

      <!--Numbers-->
      <ng-container *ngFor="let page of displayCountArr">
          <li class="page-item"
              [ngClass]="{active: page === currentPage}">
              <a class="page-link pagination-link"
                 (click)="jumpToPage(page)">
                  {{page}}
              </a>
          </li>
      </ng-container>

      <!--Arrow right-->
      <li class="page-item"
          [ngClass]="{disabled: currentPage === _.last(totalCountArr)}">
          <a class="page-link pagination-link"
             aria-label="Next"
             (click)="jumpToPage(currentPage + 1)">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
          </a>
      </li>

      <!--Last-->
      <li class="page-item"
          [ngClass]="{disabled: currentPage === _.last(totalCountArr)}">
          <a class="page-link"
             (click)="jumpToPage(totalCountArr.length)">Last</a>
      </li>

  </ul>
</nav>