#sidebar {
    min-width: 130px;
    background-color: rgb(13, 52, 90);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

#navbar-body {
    background: radial-gradient(circle, rgba(13, 52, 90, 0.9), rgba(13, 52, 90) );
    overflow-y: auto;
    overflow-x: hidden;
}

.arrow-down .nav-link::after {
    content: "▾";}

.arrow-up .nav-link::after {
    content: "▴";
}

.nav-link {
    color: white !important;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: rgb(12, 41, 75);
}

.nav-item:hover {
    background-color: rgba(21, 73, 126, 0.5);
}