<!-- Inspired from https://www.codeply.com/go/hVbwZ8ttu8/bootstrap-4-vertical-menu-with-submenu -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 collapse d-md-flex bg-faded p-0 pt-2 pb-2 h-100"
             id="sidebar">
            <ul class="nav w-100 flex-column">
                <ng-container *ngFor="let item of menu">
                    <li class="nav-item"
                        (click)="item.showChildren = !item.showChildren"
                        [ngClass]="{'arrow-up': item.children && item.showChildren, 'arrow-down': item.children && !item.showChildren}">

                        <a *ngIf="item.link; else elseBlock"
                           class="nav-link m-2"
                           [routerLink]="item.link"
                           routerLinkActive="active">
                            {{item.title}}
                        </a>

                        <ng-template #elseBlock>
                            <span class="nav-link m-2">{{item.title}}</span>
                        </ng-template>
                    </li>

                    <ul class="flex-column nav"
                        [hidden]="!item.showChildren">
                        <ng-container *ngFor="let child of item.children">
                            <li class="nav-item">
                                <a *ngIf="child.link; else elseBlock"
                                   class="nav-link"
                                   [routerLink]="child.link"
                                   routerLinkActive="active">
                                    <span class="pl-4">
                                        {{child.title}}
                                    </span>
                                </a>

                                <ng-template #elseBlock>
                                    <span class="nav-link">
                                        <span class="pl-4">
                                            {{child.title}}
                                        </span>
                                    </span>
                                </ng-template>
                            </li>
                        </ng-container>
                    </ul>

                </ng-container>
            </ul>
        </div>
        <div id="navbar-body" class="col p-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>