#sidebar {
    min-width: 130px;
}
.arrow-down .nav-link:after {
    content: "▾";
}

.arrow-up .nav-link:after {
    content: "▴";
}

.nav-link {
    color: #007bff;
    cursor: pointer;
}

.active {
    font-weight: bold;
}