<!-- Inspired from https://www.codeply.com/go/hVbwZ8ttu8/bootstrap-4-vertical-menu-with-submenu -->

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 collapse d-md-flex bg-faded pt-2 h-100"
             id="sidebar">
            <ul class="nav w-100 flex-column">
                <ng-container *ngFor="let item of menu">
                    <li class="nav-item">
                        <a class="nav-link"
                           (click)="item.showChildren = !item.showChildren"
                           [routerLink]="item.link">
                            {{item.title}}
                        </a>
                    </li>

                    <ul class="flex-column pl-2 nav"
                        [hidden]="!item.showChildren">
                        <ng-container *ngFor="let child of item.children">
                            <li class="nav-item">
                                <a class="nav-link py-0"
                                   [routerLink]="child.link">
                                    {{child.title}}
                                </a>
                            </li>
                        </ng-container>
                    </ul>

                </ng-container>
            </ul>
        </div>
        <div class="col pt-2">
            <router-outlet></router-outlet>
            TEST
        </div>
    </div>
</div>