.card {
    background-color: rgba(13, 52, 90, 0.9);
}

.err-message {
    color: #b62e3c;
    font-weight: bold;
    min-height: 24px;
}

.button-container {
    margin-top: 24px;
    margin-bottom: 8px;
}