.table-container {
    max-height: 90vh;
    overflow: auto;
}

thead {
    background-color: rgb(11, 44, 77)
}

.pagination.pagination-circle .page-item .page-link {
    color: lightgray;
    transition: none;
}

.pagination.pagination-circle .page-item .page-link:hover {
    color: black;
}