<div class="h-100 d-flex flex-column">
    <!-- ng-cloak variant for Array if comments instanceof Array (not Observable)-->
    <!-- <ng-container *ngIf="comments$.length > 0">
        {{comments$}}
    </div> -->

    <!-- SEARCH -->
    <div class="md-form mt-0">
        <input class="form-control"
               mdbInputDirective
               [mdbValidate]="false">

        <label for="name">Name</label>
    </div>

    <div class="table-container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Body</th>
                </tr>
            </thead>

            <tbody>
                <!-- Use 'async' pipe only once; then use 'as' to get value of Observable (each async will execute a subscribe)-->
                <ng-container *ngIf="comments$ | async as comments">
                    <ng-container *ngFor="let comment of comments">
                        <tr (click)="goToForm(comment)">
                            <th>{{comment.id}}</th>
                            <td>{{comment.name}}</td>
                            <td>{{comment.email}}</td>
                            <td>{{comment.body}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>

    <nr-pagination [limit]="query.limit"
                   [countObservable]="count$"
                   (onPageChange)="onPageChange($event)"></nr-pagination>
</div>